<div class=" card  mt-5 p-5 container " style="width:35rem; -webkit-box-shadow: 0px 15px 31px -7px rgba(0,0,0,0.75);">
    <h1 style="font-family:cursive ;">Upload File</h1>
    <form action="/filedata" method="POST" class="" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="csv" class="form-control-file my-5" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-outline-dark ">Submit</button>
    </form>
</div>